/* основные стили и стили индекса */
body{
    margin: 0;
    font-family: "Inter", serif;
    background:#777777;
}
.header {
    background:#212529;
    height: 70px;
    display: flex;
    align-items: center;
}
.home{
    margin-right: 40px;
    margin-left: 15px;
}
select{
    width: 173px;
    height: 32px;
    margin-top: -5px;
}
.comp-name{
    width: 201px;
    font-size: 28px;
    color:#fff;
    font-weight: 700;
    margin-left: auto;
    margin-right: 0px;
}
.logo{
    margin-left:15pypx;
    margin-right: 25px;
}

/* стили для контента */

.name{
    color:#fff;
    font-size: 70px;
}
.content{
    margin-top: 70px;
    margin-left: 219px;
}
#target{
    width: 790px;
    height: 28px;
    border-radius: 10px;
}
#scan-button{
    margin-left: 10px;
    height: 28px;
}
.output{
    height: 400px;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    background:#fff;
}
.output-title{
    height: 400px;
    width: 800px;
    background:#212529;
    border-radius: 10px;
}

.output-title  p{
    color:#fff;
    font-size: 12px;
    margin-left:5px;
    padding-top:7px;
    }