body{
    margin: 0;
    font-family: "Inter", serif;
    background:#777777;
}
.header {
    background:#212529;
    height: 70px;
    display: flex;
    align-items: center;
}
.home{
    margin-right: 40px;
    margin-left: 15px;
}
select{
    width: 173px;
    height: 32px;
    margin-top: -5px;
}
.comp-name{
    width: 201px;
    font-size: 28px;
    color:#fff;
    font-weight: 700;
    margin-left: auto;
    margin-right: 0px;
}
.logo{
    margin-left:15pypx;
    margin-right: 25px;
}